main {
    padding: 100px 0;
}
.container {
    width: 325px;
}
.content {
    display: flex;
    flex-direction: column;
}
.subjectsListMobile {
    height: 100vh;
    width: 100vw;
    padding: 50px 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEEF6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.content .categoryCloseBtn {
    background-color: transparent;
    width: 25px;
    padding: 5px 0;
    margin-right: 25px;
    align-self: flex-end;
    border: none;
}
.menuItem {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}
.menuItemActive {
    margin-bottom: 23px;
    list-style: outside;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: 0.3s;
}
.menuItem:not(:last-child) {
    margin-bottom: 23px;
}
li.menuItem {
    list-style: none;
}
li::marker {
    color: #756AD3;
}
li.menuItem:hover {
    cursor: pointer;
    list-style: outside;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: 0.3s;
}

.booksList {
    margin-top: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bookBlock {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #5C6A79;
}
.bookBlock span {
    margin: 10px 0;
}
.bookInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bookImg{
    width: 70%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.bookTitle {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1C2A39;
}
.bookRating {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}
.bookDescription {
    padding: 16px 0;
}
.bookPrice {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #1C2A39;
}

.bookCartBlock {
    width: 100%;
    height: 344px;
    margin: 0 30px 30px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookCartInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}
.bookCartInfo .bookTitle {
    font-size: 14px;
    padding: 15px 0;
}
.btnRemove {
    margin-top: 15px;
    padding: 8px;
    background-color: #fff;
    color: #5C6A79;
    border: 1px solid #5C6A79;
}
.btnRemove:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
    transition: 0.5s;
}
.bookCartImg {
    width: 128px;
    height: 200px;
    background-size: cover;
}


.content button {
    margin-top: 16px;
    width: 176px;
    padding: 18px 0;
    background-color: rgb(255,255,255,0);
    text-transform: uppercase;
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
}
.content button:hover {
    cursor: pointer;
    color: #fff;
    transform: scale(1.03);
    transition: 0.5s;
}
.bookBtn {
    color: #4C3DB2;
    border: 1px solid #4C3DB2;
}
.bookBtn:hover {
    background-color: #4C3DB2;
}
.bookBtn:disabled {
    display: none;
}
.btnClicked {
    color: #5C6A79;
    border: 1px solid #5C6A79;
}
.btnClicked:hover {
    background-color: #5C6A79;
}
.booksList_btns {
    display: flex;
    align-items: center;
}
.content .btnUP {
    width: 25px;
}
.btnUP  {
    padding: 0px;
    border: none;
}

@media (min-width: 600px) {
    main {
        padding: 150px 0;
    }

    .booksList {
        margin-top: 46px;
    }
    .bookBlock {
        width: 424px;
        margin-bottom: 96px;
        align-items: flex-start;
        font-size: 14px;
        line-height: 18px;
    }
    .bookInfo {
        width: 80%;
    }
    .bookCartBlock {
        width: 25%;
        height: 384px;
    }
}

@media (min-width: 1024px) {
    .subjectsList {
        position: absolute;
        width: 45%;
        padding: 45px 0 81px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EFEEF6;
    }
    .booksList {
        z-index: 1;
        margin-left: 406px;
        flex-direction: column;
    }
    .bookBlock {
        margin: 0 76px 96px 0;
        flex-direction: row;
        font-size: 10px;
        line-height: 14px;
    }
    .bookInfo {
        width: 45%;
    }
    .bookImg{
        width: 50%;
        background-size: cover;
    }
    .content .btnUP {
        width: 176px;
    }
}
@media (min-width: 1440px) {
    .subjectsList {
        width: 35%;
    }
    .booksList {
        width: 75%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .booksList_btns {
        margin: 0 150px ;
        display: flex;
        justify-self: center;
    }
}