main {
    padding: 150px 0;
}

.container {
    width: 1440px;
}
.subjectsList {
    position: absolute;
    width: 30%;
    padding: 45px 0 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEEF6;
}
.content {
    display: flex;
}
.booksList {
    z-index: 1;
    margin-top: 46px;
    margin-left: 406px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menuItem {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}
.menuItemActive {
    margin-bottom: 23px;
    list-style: outside;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: 0.3s;
}
.menuItem:not(:last-child) {
    margin-bottom: 23px;
}
li.menuItem {
    list-style: none;
}
li::marker {
    color: #756AD3;
}
li.menuItem:hover {
    cursor: pointer;
    list-style: outside;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: 0.3s;
}

.bookBlock {
    width: 424px;
    margin: 0 76px 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}
.bookCartBlock {
    width: 25%;
    height: 384px;
    margin: 0 30px 30px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.bookCartInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}
.bookCartInfo .bookTitle {
    font-size: 14px;
    padding: 15px 0;
}
.btnRemove {
    margin-top: 15px;
    padding: 8px;
    background-color: #fff;
    color: #5C6A79;
    border: 1px solid #5C6A79;
}
.btnRemove:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
    transition: 0.5s;
}
.bookImg{
    width: 50%;
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.bookCartImg {
    width: 128px;
    height: 200px;
    background-size: cover;
}
.bookTitle {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1C2A39;
}
.bookRating {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}
.bookDescription {
    padding: 16px 0;
}
.bookPrice {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #1C2A39;
}

.content button {
    margin-top: 16px;
    width: 176px;
    padding: 18px 0;
    background-color: rgb(255,255,255,0);
    text-transform: uppercase;
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
}
.content button:hover {
    cursor: pointer;
    color: #fff;
    transform: scale(1.03);
    transition: 0.5s;
}
.bookBtn {
    color: #4C3DB2;
    border: 1px solid #4C3DB2;
}
.bookBtn:hover {
    background-color: #4C3DB2;
}
.bookBtn:disabled {
    display: none;
}
.btnClicked {
    color: #5C6A79;
    border: 1px solid #5C6A79;
}
.btnClicked:hover {
    background-color: #5C6A79;
}
.booksList_btns {
    display: flex;
    align-items: center;
}
.btnUP  {
    padding: 0px;
    border: none;
}
