header {
    z-index: 99;
    position: fixed;
    width: 100%;
    padding: 56px 100px;
    background-color: white;
    font-weight: 700;
}

.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoName {
    font-size: 24px;
    line-height: 30px;
}
.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}
.navItem {
    font-size: 12px;
    line-height: 12px;
    opacity: 0.5;
}
.navItem:hover {
    opacity: 1;
    font-weight: 900;
    transform: scale(1.05);
    transition: 0.7s;
}
.navItem:not(:last-child) {
    margin-right: 40px;
}
.management {
    display: flex;
    align-items: center;
}
.manageItem:hover {
    cursor: pointer;
    animation: manageItem 1.5s infinite;
}
.manageItem {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}
.manageItem:not(:last-child) {
    margin-right: 20px;
}
@keyframes manageItem {
	0% {
		box-shadow: 0 0 0 0 rgba(76, 61, 178, 0.5);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}
.cartItem {
    position: relative;
    display: flex;
    color: white;
    font-size: 10px;
}
.cartBadge {
    position: absolute;
    left: 15px;
    bottom: 5px;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}
.cartBadge:hover {
    cursor: pointer;
}