.sliderBlock {
    display: none;
}

@media (min-width: 600px) {
    .sliderBlock {
        margin-bottom: 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner1 {
        width: 555px;
        height: 351px;
        background-image: url(../../_assets/images/banner1_bf.png);
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(150%);
        animation: ani 2s forwards;
    }
    .banner2 {
        width: 555px;
        height: 351px;
        background-image: url(../../_assets/images/banner2_top10.png);
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(150%);
        animation: ani 2s forwards;
    }
    .banner3 {
        width: 555px;
        height: 351px;
        background-image: url(../../_assets/images/banner3_co.png);
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(150%);
        animation: ani 2s forwards;
    }
    @keyframes ani {
        0% {transform: translateX(150%);}
        100% {transform: translateY(0);}
    }
    .dots {
        width: 10%;
        padding-top: 17px;
        display: flex;
        justify-content: space-between;
    }
    .dot {
        border: none;
        padding: 7px;
        border-radius: 50%;
        background-color: #9E98DC;
        opacity: 0.5;
    }
    .dot:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s;
        opacity: 1;
    }
}

@media (min-width: 1440px) {
    .sliderBlock {
        margin-bottom: 134px;
    }
    .banner1 {
        width: 1120px;
        height: 702px;
    }
    .banner2 {
        width: 1120px;
        height: 702px;
    }
    .banner3 {
        width: 1120px;
        height: 702px;
    }
    .dots {
        width: 7%;
    }
}
