body {
  margin: 0 auto;
  padding: 0 25px;
  overflow-x: hidden;
  font-family: 'Montserrat', Georgia, 'Times New Roman', Times, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: inherit;
  text-decoration: none;
}


@media (min-width: 1440px) {
  body {
    padding: 0; 
  }
}

